@model CTI.ViewModels.SuperAdminHomeVM

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Printing/Views/Shared/_Layout.cshtml";
}


<div class="br-pagetitle">
    <i class="icon fas fa-light fa-house"></i>
    <div>
        <h4>الرئيسية</h4>
        <p class="mg-b-0">نظام ادارة بسطتهالك</p>
    </div>
</div><!-- d-flex -->

<div class="br-pagebody">
    <div class="row row-sm">
        @* <div class="col-sm-3 col-xl-3 mb-3">
            <a asp-action="Index" asp-controller="Library">
                <div class="bg-info rounded overflow-hidden">
                    <div class="pd-x-20 pd-t-20 d-flex align-items-center">
                        <i class="fas fa-light fa-building tx-60 lh-0 tx-white op-7"></i>
                        <div class="mg-r-20">
                            <p class="tx-20 tx-spacing-1 tx-mont tx-bold tx-uppercase tx-white-8 mg-b-10">المطبوعات </p>
                            <p class="tx-24 tx-white tx-lato tx-bold mg-b-0 lh-1">@Model.Libraries.Count()</p>
                        </div>
                    </div>
                    <div id="ch1" class="ht-50 tr-y-1"></div>
                </div>
            </a>
        </div><!-- col-3 -->
        <div class="col-sm-3 col-xl-3 mb-3">
            <a asp-action="Index" asp-controller="Payment">
                <div class="bg-purple rounded overflow-hidden">
                    <div class="pd-x-20 pd-t-20 d-flex align-items-center">
                        <i class="fas fa-light fa-receipt tx-60 lh-0 tx-white op-7"></i>
                        <div class="mg-r-20">
                            <p class="tx-20 tx-spacing-1 tx-mont tx-bold tx-uppercase tx-white-8 mg-b-10">قائمة الفواتير </p>
                            <p class="tx-24 tx-white tx-lato tx-bold mg-b-0 lh-1">@Model.Payments.Count()</p>
                        </div>
                    </div>
                    <div id="ch1" class="ht-50 tr-y-1"></div>
                </div>
            </a>
        </div><!-- col-3 --> *@



    </div><!-- row -->


</div><!-- br-pagebody -->
